[data-suchi-root] {
  --suchi-accentColor: hsl(9, 100%, 59%);
  --suchi-inactive-indicator: hsl(0, 0%, 65%);
  --suchi-inactive-item: hsl(0, 3%, 34%);
  --suchi-scrollbar-color: hsl(0, 0%, 69%);
  --suchi-background-color: hsl(0, 0%, 100%);
  --suchi-mobile-elevated-padding: 20px;
  --suchi-mobile-padding: 0px;
}

.dark [data-suchi-root] {
  --suchi-inactive-item: hsl(0, 12%, 73%);
  --suchi-inactive-indicator: hsl(0, 12%, 73%);
  --suchi-scrollbar-color: hsl(0, 0%, 49%);
  --suchi-background-color: hsl(0, 1%, 11%);
}

[data-suchi-indicators] {
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
  padding: 16px 0;
  outline: none;
  border: none;
}

[data-suchi-indicator] {
  height: 3px;
  border-radius: 16px;
  padding: 0;
  margin: 0;
  list-style-type: none !important;
  transition: all 80ms ease-in;
}

[data-suchi-indicator="active"] {
  background-color: var(--suchi-accentColor);
  width: 20px;
}

[data-suchi-indicator="inactive"] {
  background-color: var(--suchi-inactive-indicator);
  width: 16px;
}

[data-suchi-desktop-items] {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--suchi-background-color);
  min-width: 250px;
  max-width: 350px;
  max-height: 400px;
  padding: 16px;
  border-radius: 8px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  scrollbar-color: var(--suchi-scrollbar-color) transparent;
  scrollbar-width: thin;
  outline: none;
}

[data-suchi-desktop-item] {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 6px;
  border-radius: 4px;
}

[data-suchi-desktop-item="active"] {
  color: var(--suchi-accentColor) !important;
}

[data-suchi-desktop-item="inactive"] {
  color: var(--suchi-inactive-indicator);
}

.fadein {
  animation: fadein 0.2s ease-in-out forwards;
}

.fadeout {
  animation: fadeout 0.2s ease-in-out forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    filter: blur(4px);
    transform: translate3d(16px, 5px, 0);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translate3d(0px, 0px, 0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(30px, 0px, 0);
  }
}

/**
 * 
 * MOBILE
 */

[data-suchi-mobile] {
  position: fixed;
  left: 50%;
  bottom: -1px;
  transform: translate3d(-50%, 0px, 0);
  max-width: 768px;
  width: 100vw;
  z-index: 999999999;
  background-color: white;
  padding: 0 8px;
  animation: suchi-mobile-appear 650ms cubic-bezier(0.34, 0.97, 0.53, 1);
  outline: 1px solid rgb(50, 50, 50);
}

@keyframes suchi-mobile-appear {
  from {
    transform: translate3d(-50%, 100px, 0);
  }
}

[data-suchi-mobile-items] {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--suchi-scrollbar-color) transparent;
  scroll-snap-type: x mandatory;
  transition: all 150ms ease-in;
  padding-right: 50px;
}

[data-suchi-mobile-items]::after {
  content: "";
  width: 80px;
  height: 100%;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--suchi-background-color)
  );
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none !important;
  user-select: none !important;
}

[data-suchi-mobile-item] {
  white-space: nowrap;
  height: 45px;
  cursor: pointer;
  font-size: 14px;
  transition: all 100ms ease-in;
  scroll-snap-align: start;
  padding: 0px 8px;
}

[data-suchi-mobile-item]:last-child {
  margin-right: 24px;
}

.dark [data-suchi-mobile] {
  background-color: var(--suchi-background-color);
  outline: 1px solid rgb(50, 50, 50);
}

.dark [data-suchi-mobile]::before {
  background-image: linear-gradient(
    to bottom,
    transparent,
    #0b0a0a84
  ) !important;
}

[data-suchi-reference-list] {
  padding: 16px 0px;
  font-size: 14px;
}

[data-suchi-references] {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin: 0;
}

[data-suchi-reference-marker] {
  font-size: 10px;
  vertical-align: super;
}
